.product-card{
    display: flex;
    width: 160px;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.product-img{
    width: 150px;
    /* height: 200px; */
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.page-number{
    padding: 10px;
    margin: 2px;
    border: 1px solid black;
    cursor: pointer;
}

.pagination-container{
    padding: 20px;
    align-items: center;
    justify-self: center;

}

.active{
    background-color: aqua;
}

.disable{
    opacity: 0.5;
    /* border: 1px solid grey; */
}