.App {
    font-family: sans-serif;
    text-align: center;
    margin-top: 100px;
    flex-direction: column;
    gap: 20px;
  }
  
  .search-input {
    width: 500px;
    padding: 6px;
  }
  
  .result-container {
    border: 1px solid;
    width: 500px;
    margin: auto;
    padding: 6px;
    text-align: left;
    max-height: 500px;
    overflow-y: scroll;
  
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
  }
  
  .result {
    display: block;
    padding: 5px;
    border-bottom: 1px solid;
  }
  
  .result:hover {
    background-color: bisque;
    cursor: pointer;
  }
  
  .result:last-child {
    border-bottom: 0;
  }
  